body {
	background-color: #bbb;
	font-family: 'Helvetica Neue', Helvetica, 'nimbus-sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10pt;
	height: 100%;
	vertical-align: baseline;
}

#superContainer {
	width: 1000px;
	height: 100vh;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	display: block;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	overflow: hidden;
}

#container {
	margin: 0;
	border: 0;
	height: 100%;
	padding: 30px 60px 15px 60px;
}

li#selected {
	background: #Fe3;
}

h1, li {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

nav ul li{
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 6px;
}

li.nav_circles {
	padding: 0;
	color: #bbb;
}

nav {
	margin: 0 auto;
	text-align: right;
}

a {
	color: black;
}

h1 {
	text-align: center;
}

#specialText {
	display: block;
	width: 400px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#description {
	display: block;
	width: 400px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#resume {
	display: block;
	margin-top: 100px;
}

#me {
	max-width: 35%;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

#email {
	color: #bbb;
}

.courseSemester {
	display: inline-block;
}

.semesterTitle {
	padding: 0 0 5px 0;
	text-decoration: underline;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

td {
	font-size: 9pt;
	width: 380px;
	height: 100px;
	margin-top: 0px;
	border-top: 0px;
	padding-top: 15px;
	padding-bottom: 50px;
	border-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	margin-left: 30px;
	margin-right: 0px;
}

#resumeColumn {
	width: 55%;
	display: inline-block;
	margin: 0 96px 0 0;
}

#resumeColumn2 {
	width: 30%;
	display: inline-block;
	color: #888;
	vertical-align: top;
}

#resumeColumn3 {
	width: 100%;
}

#resume {
	border-top: 1px solid #bbb;
	padding: 22.5px 0 0 0;
	margin: 30px 0 0 0;
}

#resumeCont {
	padding: 22.5px 0 0 0;
	margin: 70px 0 0 0;
}

#qpa {
	font-size: 9pt;
}