body {
    line-height: 1.5;
    font-family: 'Open Sans', "Helvetica Neue", sans-serif;
    letter-spacing: 0.5px;  
}

.main {
    width: 50%;    
    margin-left: 25%;
    margin-top: 10%;
}

.name {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 7%;
}

.title {
    color: rgba(0,132,255,.95);
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 2%;
}

.text {
    font-size: 18px;
    font-weight: 300; 
}

.text1 {
    margin-bottom: 2%;
    margin-top: 1%;    
}

.text2 {
    margin-bottom: 7%;
    margin-top: 1%; 
}
